<h1> details </h1>
 <p> Name : <%= @product.name %> </p>
 <p> city :<%= @product.description %></p>
 <p> <%= link_to "back",users_path %></p>
 <p> <%= link_to "create product" ,new_product_path %></p>
 <p> <%= link_to "edit products" ,new_product_path %></p>p